#theme-btn {
    border: none;
    color: var(--background-col);
    background-color: var(--primary-col);
    font-size: 1.8rem;
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 3.5rem;
    aspect-ratio: 1;
    border-radius: 1rem;
    z-index: 1;
}

#theme-btn:hover {
    cursor: pointer;
}

#theme-btn:focus {
    outline: 0;
}