/* #portfolio-grid > div {
    flex-grow: 1;
} */

.portfolio-grid {
    flex-wrap: wrap;
}

.portfolio-item {
    margin-bottom: 3rem;
    padding: 2rem;
}

#ruwho-title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    user-select: none;
    height: 7rem;
}

#ruwho-ru {
    font: 7rem Indian Steeds;
    font-weight: bold;
    color: rgb(233, 35, 35);
}

#ruwho-who {
    font: 5.2rem senbatsu; 
    color: var(--primary-col);
}

.stockscope-title {
    font: 5.2rem Division One;
    font-style: normal;
    color: var(--primary-col);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    height: 5rem;
}

.stockscope-sub {
    font-size: 2.5rem;
    margin-top: -1rem;
}

#bricksdeals-title {
    font: 4.5rem mangoli;
    font-style: normal;
    color: var(--primary-col);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    line-height: 0.9;
    height: 5rem;
}

#ruguessr-title {
    font: 5rem 'Minguwest';
    font-style: normal;
    color: var(--primary-col);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    line-height: 0.9;
    margin-left: 1rem;
}

.ruguessr-os, .rubus-os, .bricks-deals-os {
    color: var(--a-color) !important;
}

#rubus-title {
    font: 5rem 'Yusei Magic';
    color: var(--primary-col);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    line-height: 0.9;
    margin-left: 1rem;
}

#rubus-title > span {
    color: rgb(233, 35, 35);
    font-weight: bold;
}

a {
    color: var(--a-color);
    font: 1.8rem Montserrat;
}

p {
    color: var(--secondary-col);
    font: 1.2rem Montserrat;
    margin: 1.3em;
}