#theme-btn {
    border: none;
    color: var(--primary-col);
    font-size: 2.5rem;
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: transparent;
}

#theme-btn:hover {
    cursor: pointer;
}

#theme-btn:focus {
    outline: 0;
}