<!DOCTYPE html>
<html>

<head>
    <title>Happy J</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/9fec56898e.js" crossorigin="anonymous"></script>
    <!--<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
    <link href="https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@200&family=Montserrat:wght@500&family=Poppins:wght@200&display=swap" rel="stylesheet">    
    <script src="js/home.js"></script>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/transcript.css">
    <link rel="stylesheet" href="css/theme_btn.css">
    <%if defined("heads"):%>
        <%for h in heads:%>
            {{!h}}
        <%end%>
    <%end%>
</head>

<body id="body-dark" onload="pageLoad()">

    <div id="nav-wrapper">

        <button class="nav-btn nav-btn-portfolio" id="nav-btn-innactive" onclick="window.location.href='/portfolio'">portfolio</button>
        <button class="nav-btn nav-btn-contact " id="nav-btn-innactive" onclick="window.location.href='/contact'">contact</button>
        <button class="nav-btn nav-btn-home" id="nav-btn-innactive" onclick="window.location.href='/'">home</button>
        <button class="nav-btn nav-btn-transcript" id="nav-btn-innactive" onclick="window.location.href='/transcript'">transcript</button>
        <!--<button class="nav-btn" id="nav-btn-innactive">art</button>-->

    </div>

    {{!base}} <!--%include-->

    <button id="theme-btn" onclick="toggleTheme()"><i id="theme-btn-icon" class="fa-solid"></i></button>

</body>

</html>