<!DOCTYPE html>
<html>

<head>

    <title>Happy J</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/9fec56898e.js" crossorigin="anonymous"></script>
    <!--<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
    <link href="https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@200&family=Montserrat:wght@500&family=Poppins:wght@200&display=swap" rel="stylesheet">    
    <link href="https://fonts.cdnfonts.com/css/mangoli" rel="stylesheet">
    <script src="js/theme.js"></script>
    <link rel="stylesheet" href="css/style.css?{{t}}">
    <link rel="stylesheet" href="css/home.css?{{t}}">
    <link rel="stylesheet" href="css/transcript.css?{{t}}">
    <link rel="stylesheet" href="css/theme_btn.css?{{t}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%if defined("heads"):%>
        <%for h in heads:%>
            {{!h}}
        <%end%>
    <%end%>

    <script>
        (function() {
            const theme = localStorage.getItem('theme') || 
                (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');
            document.documentElement.setAttribute('theme', theme);
            const iconClass = theme === 'light' ? 'fa-moon' : 'fa-sun';
            
            window.themeButtonHTML = `
                <button id="theme-btn" onclick="toggleTheme();">
                    <i id="theme-btn-icon" class="fa ${iconClass}"></i>
                </button>
            `;
        })();
    </script>

</head>

<body id="body-dark">

    <div id="nav-wrapper">

        <div id="nav-grid">

            <div class="nav-btn nav-btn-portfolio" id="nav-btn-innactive" onclick="window.location.href='/portfolio'">portfolio</div>
            <div class="nav-btn nav-btn-contact " id="nav-btn-innactive" onclick="window.location.href='/contact'">contact</div>
            <div class="nav-btn nav-btn-home" id="nav-btn-innactive" onclick="window.location.href='/'">home</div>
            <div class="nav-btn nav-btn-transcript" id="nav-btn-innactive" onclick="window.location.href='/transcript'">coursework</div>
    
        </div>

    </div>


    {{!base}} <!--%include-->

    <script>document.write(window.themeButtonHTML);</script>

    <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>

</body>

</html>