% rebase('templates/base.html')

<script>$('.nav-btn-contact').attr('id', 'nav-btn-active').attr('onclick', null);</script>

<div class="flex content-center items-center h-100vh">

    <div class="flex flex-col row-gap-0p5rem montserrat">
        <a class="flex col-gap-1rem items-center var-col-primary decor-none link transition-100ms" href="mailto:john@johnhappy.me">
            <i class="fa-regular fa-envelope font-2p5rem"></i>
            <div class="font-1p5rem">john@johnhappy.me</div>
        </a>
        <a class="flex col-gap-1rem items-center var-col-primary decor-none link transition-100ms" href="mailto:john.happy@rutgers.edu">
            <i class="fa-regular fa-envelope font-2p5rem"></i>
            <div class="font-1p5rem">john.happy@rutgers.edu</div>
        </a>
        <a class="flex col-gap-1rem items-center var-col-primary decor-none link transition-100ms" href="https://github.com/JoyousJohn">
            <i class="fa-brands fa-github font-2p5rem"></i>
            <div class="font-1p5rem">JoyousJohn</div>
        </a>
        <div></div>
    </div>

</div>