%rebase templates/base.html

<div class="portfolio-grid grid grid-cols-2 mt-5rem">

    <div>
        <div id="stockscope-wrapper" class="portfolio-item">
    
            <a href="https://www.stockscope.net" target="_blank" style="text-decoration: none;">
                <div class="stockscope-title">StockScope</div>     
            </a>
            <div id=stockscope-link style="text-align: center;"><a href="https://www.stockscope.net" target="_blank">StockScope.net</a></div>
    
            <p>StockScope is a real-time press release aggregator for listed companies publishing on prominent newswires.</p>
    
            <p>StockScope gathers releases from public newswire APIs, filters and categorizes them, and displays them in a central feed with the goal to provide investors a trading advantage without needing to constantly refresh multiple newsrooms. LLMs additionally provide summaries and rationale.</p>
    
            <p>A Sanic backend displays data from a MongoDB database. This project expanded my experience with MongoDB (pymongo), front-end web dev (HTML/JS/CSS), scheduling, and asyncio. This was my first time using Sanic and websockets and my first time using webhooks, Google Analytics, sessions, and an async framework in production.</p>

        </div>

        <div id="stockscope-labs-wrapper" class="portfolio-item">
    
            <a href="https://www.stockscope.net/labs" target="_blank" style="text-decoration: none;">
                <div class="stockscope-title h-auto">StockScope</div>     
                <div class="stockscope-title h-auto stockscope-sub">—— RESEARCH ——</div>     
            </a>
            <div id=stockscope-link style="text-align: center;"><a href="https://www.stockscope.net/labs" target="_blank">StockScope.net/labs</a></div>
    
            <p>StockScope Research is an experimental algorithmic trading platform utilizing language models for press release sentiment analysis.</p>

            <p>Initially intended just to aggregate PRs, I saw an opportunity to shift StockScope's abilities to algorithmic trading following ChatGPT's surge. StockScope Research runs sentiment analysis on press releases in real-time, and, based on historical and present market behavior, predicts short-term stock movement. If an entry is successfully executed, an exit strategy will be chosen based on thousands of back-tested, high-quality releases.</p>
    
            <p>Optimized, efficient algorithms have been created after months of paper trading and prompt engineering, constructing the StockScope Trading Model (STM). Performance is broken down and displayed publicly.</p>   
            
            <p>This has became my primary hobby project and gave me experience using Alpaca. The STM relies on multiple models to operate, currently using GPT, Mixtral, and OpenChat models. </p>
    
        </div>
        
        <div id="ruwho-wrapper" class="portfolio-item">

            <a href="https://www.ruwho.pages.dev" target="_blank" style="text-decoration: none;">
                <div id="ruwho-title">
                    <span id="ruwho-ru">RU</span> <span id="ruwho-who">who</span>     
                </div>
            </a>
            <div id=ruwho-link style="text-align: center;"><a href="https://www.ruwho.pages.dev" target="_blank">RUwho.pages.dev</a></div>
            
            <p>RUwho is a service that allows for easier searching of the public Rutgers University people database. <u>RUwho is unaffiliated with Rutgers</u>.</p>
            <p>
                Designed to expand upon the official search platform; it's advantageous by returning results in real-time as a query is being entered alongside returning
                contact info of each match without the need to open a new tab for each individual.
            </p>
            <p>
                A Flask backend integrates with a FastAPI wrapper to fetch from the Rutgers DB. This project furthered my experience with
                Flask, HTML, JS, CSS (including media quieries), and CORS. This was my first time using FastAPI & SlowAPI, Waitress, Intersection Observers, New Relic (NRQL), and HTTPX (over Requests) and my first time using AJAX, localStorage, asyncio, and rate limiting in production.
            </p>
            <!--<p>A public API wrapper will be available at a later date.</p>-->
    
        </div>
    
    </div>

    

    <div>
        
        <div id="bricksdeals-wrapper" class="portfolio-item">

            <a href="https://www.bricks.deals" target="_blank" style="text-decoration: none;">
                <div id="bricksdeals-title">bricks.deals</div>     
            </a>
            <div id=bricksdeals-link style="text-align: center;"><a href="https://bricks.deals" target="_blank">bricks.deals</a></div>
    
            <p>bricks.deals aggreates Lego set deals from US retailers. Sets are filtered to show only below-retail-price and in-stock deals available for purchase online. Past deals and durations are also shown.</p>
    
            <p>Deals can be sorted and filtered by various criteria. This lightweight web app excludes the clutter present on these stores' individual sites in a concise, neat, and efficient manner.</p>
    
            <p>A Flask backend is used with a MongoDB database while a scheduling container periodically updates it. This weekend project advanced my experience with Flask, MongoDB, front-end web development, and manipulating API data. This was my first time using bs4 in production.</p>
    
            <a href="https://github.com/JoyousJohn/bricks-deals-public" target="_blank"><p class="bricks-deals-os">The bricks.deals front-end is open-source.</p></a>

        </div>
    
        <div id="ruguessr-wrapper" class="portfolio-item">
    
            <a href="https://joyousjohn.github.io/ruguessr/" target="_blank" style="text-decoration: none;">
                <div class="flex items-center content-center">
                    <img src="/img/favicon.png" height="60">
                    <div id="ruguessr-title">RutgersGuessr</div>    
                </div>    
            </a>
            <div id=ruguessr-link style="text-align: center;"><a href="https://joyousjohn.github.io/ruguessr/" target="_blank">joyousjohn.github.io/ruguessr</a></div>
    
            <p>RutgersGuessr is a clone of the GeoGeussr geography-guessing game that targets the Rutgers New Brunswick campuses, once again being <u>unaffiliated with Rutgers</u>.</p>
    
            <p>RutgersGuessr runs statically without a web server. Images (of strictly public areas) were collected from online sources (i.e. rutgers.edu) and attribution is given where due. Leaflet renders the Mapbox map tiles.</p>
    
            <p>This was another quick project that furthered my experience with mapping APIs, GeoJSON, and JS. This was the first time I served Mapbox tiles with Leaflet rather than Mapbox GL JS.</p>
    
            <a href="https://github.com/JoyousJohn/ruguessr" target="_blank"><p class="ruguessr-os">RutgersGuessr is open-source.</p></a>
    
        </div>

        <div id="rubus-wrapper" class="portfolio-item">

            <a href="https://rubus.pages.dev" target="_blank" style="text-decoration: none;">
                <div id="rubus-title"><span>RU</span>Bus</div>     
            </a>
            <div id=rubus-link style="text-align: center; margin-top: 0.5rem;"><a href="https://rubus.pages.dev" target="_blank">RUBus.pages.dev</a></div>
    
            <p>RUBus is a bus-tracking progressive web app (PWA) alternative to the Passio GO! app. <u>RUBus is unaffiliated with Rutgers University and Passio Technologies.</u></p>

            <p>Passio is the bus service provider Rutgers switched to in the 2023 academic year. RUBus attempts to solve many of the issues students complain plague the Passio GO! apps and website; such as having a laggy, difficult-to-use UI with inaccurate bus ETAs and routes. RUBus uses and relies on the Passio API for basic bus info, positioning, and capacity.</p>

            <p>RUBus features real-time bus locations and ETAs, the latter calculated from recent travel times and dwell periods at stops rather than relying on matrix distances. Time stopped is shown to users, providing insight into potential breaks and other delays. Bus capacity and a live speed estimate are also shown. All data is updated live as it is received. Route colors, fonts, and other UI elements can be customized. Individual routes can easily be selected.</p>

            <p>Backends, written in Python, track and calculate bus and stop ETAs, transmitting via WebSocket. The frontend uses a Leaflet map and is served statically while a FastAPI app sends data to the client, offloading demanding tasks to the server. I chose to make a PWA to not take up storage on phones, enable seemless updates, and unify all operating systems onto a single codebase.</p>

            <p>This project furthered my experience with Python, web frameworks, and front-end web development. This was my first ever PWA and first time hosting on Cloudflare Pages.</p>

            <a href="https://github.com/JoyousJohn/rubus-public" target="_blank"><p class="rubus-os">The RUBus front-end is open-source.</p></a>

        </div>

    </div>

</div>

<script>$('.nav-btn-portfolio').attr('id', 'nav-btn-active').attr('onclick', null);</script>