%rebase templates/base.html

<div id="portfolio-grid">

    <div id="ruwho-wrapper" style="border-right: 1px solid var(--secondary-col);">

        <a href="https://www.ruwho.icu" target="_blank" style="text-decoration: none;">
            <div id="ruwho-title">
                <span id="ruwho-ru">RU</span> <span id="ruwho-who">who</span>     
            </div>
        </a>
        <div id=ruwho-link style="text-align: center;"><a href="https://www.ruwho.icu" target="_blank">RUwho.icu</a></div>
        
        <p>RUwho is a service that allows for easier searching of the public Rutgers University people database. <u>RUwho is unaffiliated with Rutgers</u>.</p>
        <p>
            Designed to expand upon the official search platform; it's advantageous by returning results in real-time as a query is being entered alongside returning
            contact info of each match without the need to make multiple requests for every individual.
        </p>
        <p>
            The backend uses Flask and integrates with a FastAPI wrapper to fetch from the Rutgers DB. This project furthered my experience with
            Flask, HTML, JS, and CSS, including media quieries. This was my first time using FastAPI & SlowAPI, Waitress, Intersection Observers, New Relic (NRQL), and HTTPX (over Requests) and my first time using AJAX, localStorage, asyncio, and rate limiting in production.
        </p>
        <!--<p>A public API wrapper will be available at a later date.</p>-->

    </div>

    <div id="stockscope-wrapper">

        <a href="https://www.stockscope.net" target="_blank" style="text-decoration: none;">
            <div id="stockscope-title">StockScope</div>     
        </a>
        <div id=stockscope-link style="text-align: center;"><a href="https://www.stockscope.net" target="_blank">StockScope.net</a></div>

        <p>StockScope is a real-time press release aggregator for listed companies publishing on prominent newswires. It's in active 
            development and is <u>not production ready</u>.
        </p>

        <p>StockScope gathers releases from public newswire APIs, filters and categorizes them, and displays them in a central feed with 
            the goal to provide investors a trading advantage without needing to constantly refresh multiple difficult-to-read streams.
            This service became a reality when I couldn't find any alternatives to the existing $50+/month news collector platforms and 
            became a web app when others requested access to this tool.
        </p>

        <p>A Sanic backend is used to display data from a MongoDB database. Traffic is 
            routed through Cloudflare and sent to Google Analytics. This project expanded my experience with Mongo, HTML5, CSS, cron, and 
            web frameworks. This was my first time using GA and an async framework in production. 
        </p>

    </div>

</div>

<script>$('.nav-btn-portfolio').attr('id', 'nav-btn-active').attr('onclick', null);</script>